<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success Logout</title>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 25%;
        }
    </style>
    <script>
        function click_login() {
            location.replace("/main");
        }
    </script>
</head>
<body>
<h2 class="center">Success Logout!</h2>
<button type="button" onclick="click_login()" class="center">Go Login</button>
</body>
</html>